<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - QuanLyDiem.Web</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/lib/mdb-ui-kit/mdb.min.css">
    <link rel="stylesheet" href="~/css/neumorphism.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>
<body style="background-color: #e6e7ee;">
<header class="bg-light" style="background: #e6e7ee !important;
                                         box-shadow:  6px 6px 12px #b8b9be, -6px -6px 12px #fff">
    <div class="container">
        <nav class="navbar navbar-expand-lg shadow-0">
            <div class="container-fluid">
                <a asp-controller="Home" asp-action="Index">
                <div class="d-flex justify-content-center align-items-center"
                     style="background:#e6e7ee;width:50px;height: 50px; border-radius: 50%;
                           box-shadow:  6px 6px 12px #b8b9be,-6px -6px 12px #fff!important">
                    <img src="~/assets/grade (1).svg" style="width: 50%;height: 50%">
                </div>
                </a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse justify-content-end align-content-center m-0" id="navbarTogglerDemo02">
                    <ul class="mb-2 mb-lg-0  p-0">
                        @* <li class="list-unstyled  w-100 m-0"> *@
                        @*     <a class="nav-link active text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-user"></i> Profile</a> *@
                        @* </li> *@
                        <partial name="_LoginPartial"/>
                    </ul>
                </div>
            </div>
        </nav>
    </div> 
    
</header>
<div class="container mt-4" style="min-height: 90vh;">
        @await Component.InvokeAsync("BreadScrums")
    <main role="main" class="d-flex justify-content-between align-items-stretch h-100">
        @* @{ *@
        @*     if (ViewContext.RouteData.Values["controller"]?.ToString() != "Home") *@
        @*         { *@
        @*             <partial name="_SideBar"/> *@
        @*         }     *@
        @* } *@
        
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - QuanLyDiem.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/mdb-ui-kit/mdb.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<!--<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->
<!--<script src="~/js/site.js" asp-append-version="true"></script>-->
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>