<link rel="stylesheet" href="~/css/sidebar.css"/>
<nav class="sidebar shadow-2 rounded p-3 m-2">
    <ul class="px-1">
        <li class="parent-element rounded">
            <a  id="student" class="first-child px-3 d-flex justify-content-between align-items-center">
               <span><i class="fas fa-user-graduate"></i>Sinh Viên</span><i class="fas fa-chevron-down rotate"></i>
            </a>
            <ul class="child-element slideup">
                <li><a asp-controller="StudentManager" asp-action="StudentList">Danh sách sinh viên</a></li>
                <li><a asp-controller="GradesManager" asp-action="Index">Quản lý điểm</a></li>
            </ul>
        </li>
        <li class="parent-element rounded">
            <a id="lecturer" class="first-child px-3 d-flex justify-content-between align-items-center">
                <span><i class="fas fa-chalkboard-teacher"></i>Giảng viên</span>
                <i class="fas fa-chevron-down rotate"></i>
            </a>
            <ul class="child-element slideup">
                <li><a asp-controller="LecturersManager" asp-action="Index">Danh sách giảng viên</a></li>
            </ul>
        </li>
        <li class="parent-element rounded">
            <a id="subject" class="first-child px-3 d-flex justify-content-between align-items-center">
                <span><i class="fas fa-book"></i>Môn học</span><i class="fas fa-chevron-down rotate"></i>
            </a>
            <ul class="child-element slideup">
                <li><a asp-controller="SubjectManager" asp-action="Index">Danh sách môn học</a></li>
            </ul>
        </li>
        
    </ul>
</nav>

<script src="~/js/sidebar.js"></script>
<script>
    document.querySelector(".active") ? document.querySelector(".active").classList.remove("active"):""
    switch ("@ViewContext.RouteData.Values["controller"]?.ToString()"){
        case "GradeManager":
            console.log("student")
            document.getElementById("student").setAttribute("color","#0d6efd")
            break;
        case "StudentManager":
            document.getElementById("student").classList.add("active")
            break;
        case "LecturersManager":
            document.getElementById("lecturer").classList.add("active")
            break;
        case "SubjectManager":
            document.getElementById("subject").classList.add("active")
            break;
    }
</script>