@model QuanLyDiem.Web.ViewModels.GradesManager

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@if (@Model == null)
{
    <h2>title</h2>
    return;
}

<partial name="_LecturerSideBar"/>
<div class="p-2 flex-grow-1">
    <div class="main-container w-100 h-100 p-3 rounded">
        <div class="d-flex justify-content-between w-100 align-items-center">
            <div>
                <form asp-action="Index" method="get">
                    <div class="input-group">
                        <div class="form-outline">
                            <input type="search" id="for1" class="form-control" name="searchId"/>
                            <label class="form-label" for="form1">Search</label>
                        </div>
                        <button type="button" class="btn btn-primary">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="mt-3">
            <select name="semester" class="mySelect" id="semester-select">
                <option value="1">Học kỳ 1</option>
                <option value="2">Học kỳ 2</option>
            </select>
            <div id="subject-container" class="mt-3">
                <partial name="_lecturerSubjectList" model="@Model"/>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
    // console.log(@Html.Raw(Json.Serialize(Model)))
    // const changeSemester=(e)=>{
    //    
    // }
    // document.getElementById("semester-select").addEventListener("change",changeSemester)
    $(function (){
        $("#semester-select").change(function (){
            $.ajax({
                type:"Get",
                url:"/GradesManager/LecturerSubjectList?semesterId="+$(this).val(),
                success:function (data){
                    $("#subject-container").html("")
                    $("#subject-container").html(data)
                },
                error:function (response){
                    console.log(response.responseText)
                }
            })
        })
    })
</script>
}