@model QuanLyDiem.Web.ViewModels.SubjectManager
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
  <style>
      thead tr th{
        font-weight: 700 !important;
      }
      thead tr th i{
        margin-left: 1.2rem !important;
      }
          .remove{
                  display: none !important;
          }
    </style>
}

<link rel="stylesheet" href="~/css/filter.css"/>

<partial name="_SideBar"/>
<div class="p-2 flex-grow-1 ">
  <div class="main-container w-100 h-100 p-3 rounded neumorphic-container">
    <div class="d-flex justify-content-between w-100 align-items-center">
      <div>
        <form asp-action="Index" method="get">
          
        <div class="input-group">
          <div class="form-outline">
            <input type="search" id="form1" class="form-control" name="searchId"/>
            <label class="form-label" for="form1">Search</label>
          </div>
          <button type="submit" class="btn text-primary neumorphic-btn flat">
            <i class="fas fa-search"></i>
          </button>
        </div>
        </form>
      </div>
      <div>
        <a class="btn btn-sm neumorphic-btn text-primary" asp-action="Create">Add Subject</a>
      </div>
    </div>
      @if (ViewBag.Deleted != null && ViewBag.Deleted == "true")
            {
              <div id="message" class="d-flex justify-content-between rounded w-100 my-2 px-2 py-3 bg-danger text-white" 
                   style="font-width: 700 !important;">
                <div>Subject Delete</div>
                <div id="toggleMessage"><i class="fas fa-times" ></i></div>
              </div>
              
            }    
      <select id="semester-select" class="mySelect mt-3">
            <option value="1">Học kỳ 1</option>
            <option value="2">Học kỳ 2</option>
      </select>
      <div id="subject-list-container" class="mt-3">
        <partial name="_subjectList" model="@Model"/>
      </div>
  </div>
</div>

<script src="~/js/filter.js"></script>
@section Scripts
{
  <script>
   const message = document.getElementById('message');
   document.getElementById('toggleMessage') && document.getElementById('toggleMessage').addEventListener('click', e=> message.classList.toggle('remove'))
   $(function (){
     $("#semester-select").change(function (){
       $.ajax({
          type:"Get",
          url:"/SubjectManager/SubjectList?semesterId="+$(this).val(),
          success:function (data){
            $("#subject-list-container").html("")
            $("#subject-list-container").html(data)
          },
          error:function (response){
            console.log(response.responseText)
          }
       })
     })
   })
  </script>
}

