@model QuanLyDiem.Web.ViewModels.BreadScrumsViewModel

    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="font-size: 13px">
                @{
                    for (int i = 1; i < Model.Paths.Count(); i++)
                    {
                        <li class="breadcrumb-item">
                            <a asp-controller="@Model.Paths.ElementAt(1)"
                               asp-action="@(  Model.Paths.Count() >=3 ? Model.Paths.ElementAt(2):"" )">
                                @Model.Paths.ElementAt(i)
                            </a>
                        </li>    
                    }
                }
            </ol>
        </nav>
    </div>

@section Scripts
{
    <script>
        console.log(@Html.Raw(Json.Serialize(Model)))
    </script>
}